.dropdown-toggle{
    background-color: #f3f4f8 !important;
    border: solid 2px #f3f4f8 ;
    // color: white;
    color: #2cb34d !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-weight: 800 !important;
}